@font-face {
    font-family: 'Garamond Condensed';
    src: url('GaramondCondBook.woff2') format('woff2'),
        url('GaramondCondBook.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic';
    src: url('TradeGothic-BoldCondTwenty.woff2') format('woff2'),
        url('TradeGothic-BoldCondTwenty.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

